extends layout

block title
    title #{path} | stories

block main
    if error
        h3=error
    form(method="POST")
        input(type="text" name="title" placeholder="Title" required)
        input(type="text" name="description" placeholder="description" required)
        input(type="text" name="hashtags" placeholder="hashtags" required)
        input(type="submit")