main
    ul
        div
            a(href="/upload")
                span Upload Movie/////////////       
        div
            a(href="/")
                span Home
    header
        if video
            h1=video.title
        else 
            h1 Hello
        block main  
        h2 -#{path}