main
    ul
        div
            a(href="/")
                span Home
        div
            a(href="/upload")
                span Upload Movie
        div
            a(href="/search")
                span Search Movie    
        
    header
        if video
            h1=video.title
        block main  